<div class="container">
  <div class="row d-flex align-items-center justify-content-center descripForm">
    <h2>Razas</h2>
    <div class="col-md-4">
      <img src="/assets/enano.webp" alt="enana" class="raza">
      <h3>Enano</h3>
      <p>Reinos ricos en antiguo esplendor, salas esculpidas en las raíces de las montañas, picos y martillos
        haciéndose eco en profundas minas y ardientes forjas, un compromiso con el clan y las tradiciones y un odio
        ardiente hacia orcos y goblins —estos temas comunes unen a todos los enanos.</p>
      <ul>
        <li>Tu puntuación en Constitución es aumentada en 2.</li>
        <li>Tu velocidad base a pie es de 25 pies.</li>
        <li>Obtienes vision en oscuridad 60 pies.</li>
        <li>Tienes ventaja en las tiradas de salvación contra veneno, y posees resistencia contra el daño por
          veneno.</li>
        <li>Eres competente con el hacha de batalla, hacha de mano, martillo arrojadizo y martillo de guerra.</li>
        <li>Ganas competencia con unas herramientas de artesano a tu elección: herramientas de herrero, materiales
          de cervecería o herramientas de albañil.</li>
        <li>Cuando quiera que hagas una prueba de Inteligencia (Historia) relacionada con el origen de un trabajo
          hecho en piedra, eres considerado competente en
          la habilidad de Historia y añades el doble de tu bonificador de competencia a la tirada, en lugar de tu
          bonificador de competencia normal.</li>
        <li>Puedes hablar, leer y escribir Común y Enano. El Enano está lleno de consonantes duras y sonidos
          guturales, y esas características se vierten en cualquier otro idioma que el enano pueda hablar.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="./assets/elfo.webp" alt="elfo" class="raza">
      <h3>Elfo</h3>
      <p>Los elfos son un pueblo mágico de gracia sobrenatural, viviendo en el mundo sin ser del todo parte de él.
        Viven en lugares de etérea belleza, en medio de antiguos bosques o en plateados minaretes que resplandecen
        con luz feérica, donde una suave música flota en el aire y delicadas fragancias son transportadas por la
        brisa. Los elfos aman la naturaleza y la magia, el arte y la maestría, la música y la poesía, y las cosas
        buenas del mundo.</p>
      <ul>
        <li>Tu puntuación de Destreza aumenta en 2.</li>
        <li>Tu velocidad base a pie es de 30 pies</li>
        <li>Obtienes vision en oscuridad 60 pies.</li>
        <li>Eres competente con la habilidad de Percepción.</li>
        <li>Tienes ventaja en las tiradas de salvación contra Encantamiento, y no puedes ser dormido mediante la
          magia.</li>
        <li>. Los elfos no necesitan dormir. En lugar de eso, meditan profundamente, permaneciendo semiconscientes
          durante 4 horas al día. (La palabra en Común para tal meditación es “trance”). Mientras meditas, puedes
          soñar en cierta manera; tales sueños son en realidad ejercicios mentales que se han convertido en un
          reflejo a lo largo de años de práctica. Tras descansar de esta manera, obtienes el mismo beneficio que un
          humano tras 8 horas de sueño. </li>
        <li>Sabes hablar, leer y escribir en Común y Élfico. El élfico es fluido, de entonación sutil y gramática
          intrincada. La literatura élfica es rica y variada, y sus canciones y poemas son famosos entre las otras
          razas. Muchos bardos aprenden su idioma para poder añadir baladas élficas a sus repertorios.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="./assets/mediano.webp" alt="mediano" class="raza">
      <h3>Mediano</h3>
      <p>Las comodidades del hogar son las metas para la mayoría de las vidas de los medianos: un lugar donde
        asentarse en paz y tranquilidad, lejos de monstruos merodeadores y enfrentamientos de ejércitos; un buen
        fuego y una comida generosa; buena bebida y buena conversación. Aunque algunos medianos viven sus días en
        alejadas comunidades agrícolas, otros forman grupos nómadas que viajan constantemente, atraídos por los
        nuevos caminos y anchos horizontes, para descubrir las maravillas de las nuevas tierras y gentes. Pero
        incluso estos viajeros aman la paz, comida, el bienestar y el hogar, aunque el hogar sea un vagón empujado a
        tirones a través de un camino embarrado o una barcaza flotando río abajo.</p>
      <ul>
        <li>Tu puntuación de Destreza aumenta en 2.</li>
        <li>Tu velocidad base a pie es de 25 pies</li>
        <li>Cuando obtienes un 1 en una tirada de ataque, prueba de característica o tirada de salvación, puedes
          volver a tirar el dado y debes usar la puntuación obtenida en la nueva tirada.</li>
        <li>Tienes ventaja en las tiradas de salvación en contra de ser asustado.</li>
        <li>Puedes moverte a través del espacio de cualquier criatura que sea de un tamaño mayor que el tuyo.</li>
        <li>Puedes hablar, leer y escribir Común y Mediano. El idioma mediano no es secreto pero los medianos son
          reacios a compartirlos con otros. Escriben muy poco, así que no tienen una gran cantidad de literatura. Su
          tradición oral, sin embargo, es muy fuerte. Casi todos los medianos hablan común para conversar con la
          gente en las tierras donde viven o a través de las que están viajando.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="./assets/humano.webp" alt="humano" class="raza">
      <h3>Humano</h3>
      <p>En el cómputo de la mayoría de los mundos, los humanos son la más joven de las razas comunes, con una
        llegada tardía al mundo y una vida corta en comparación con los enanos, elfos, y dragones. Quizás es por su
        corta vida que se esfuerzan en conseguir tanto como pueden en los años que se les han dado. O quizás sienten
        que tienen algo que demostrar a las razas más antiguas, y es por eso que construyen poderosos imperios
        basados en la conquista y el comercio. Sea lo que sea lo que les motiva, los humanos son los innovadores,
        los pioneros y los triunfadores de los mundos.</p>
      <ul>
        <li>Todas tus puntuaciones de característica mejoran en 1. </li>
        <li>Tu velocidad base a pie es de 30 pies.</li>
        <li>. Puedes hablar, leer y escribir Común y una lengua extra de tu elección. Los humanos normalmente
          aprenden lenguas de otras personas con las que tienen trato, incluyendo dialectos ocultos. Son aficionados
          a enriquecer su lenguaje con palabras que toman prestadas de otras lenguas: maldiciones orcas, expresiones
          musicales élficas, frases militares enanas y ese tipo de cosas</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="./assets/gnomo.webp" alt="gnomo" class="raza">
      <h3>Gnomo</h3>
      <p>Un zumbido constante de actividad impregna las madrigueras y vecindarios donde los gnomos forman sus
        estrechamente unidas comunidades. Sonidos más fuertes interrumpen el bullicio: el crujido de ruedas de moler
        por aquí, una pequeña explosión por allá, un aullido de sorpresa o triunfo y especialmente estallidos de
        risas. Los gnomos se toman la vida con deleite, disfrutando cada momento de invención, exploración,
        investigación, creación y juego</p>
      <ul>
        <li>Tu puntuación de inteligencia se incrementa en 2.</li>
        <li>Tu velocidad base a pie es de 25 pies.</li>
        <li>Obtienes vision en oscuridad 60 pies.</li>
        <li>Obtienes ventaja en todas tus tiradas de salvación de Inteligencia, Sabiduría y Carisma contra magia.
        </li>
        <li>Puedes hablar, leer y escribir Común y Gnómico. El idioma gnómico, que usa el alfabeto enano, es
          conocido por sus tratados técnicos y sus catálogos de conocimiento sobre el mundo natural.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="./assets/semielfo.webp" alt="semielfo" class="raza">
      <h3>Semielfo</h3>
      <p>Caminando entre dos mundos pero sin pertenecer realmente a ninguno de los dos, los semielfos combinan lo
        que algunos dicen ser las mejores cualidades de sus progenitores humanos y elfos: la curiosidad, inventiva y
        ambición humana templada por los sentidos refinados, el amor por el arte y la naturaleza de los elfos.
        Algunos semielfos viven entre los humanos, separados por sus diferencias emocionales y físicas, viendo a
        amigos y seres queridos envejecer mientras el tiempo no les toca a ellos. Otros viven entre los elfos,
        aumentando su inquietud conforme se acercan a la edad adulta en los intemporales reinos elficos, mientras
        sus compañeros continúan viviendo como niños. Muchos semielfos, incapaces de encajar en ninguna sociedad,
        eligen una vida errante en solitario o uniéndose a otros inadaptados y marginados en la vida aventurera.</p>
      <ul>
        <li>Tu puntuación de Carisma aumenta en 2 y otras dos puntuaciones a tu elección aumentan en 1.</li>
        <li>Tu velocidad base a pie es de 30 pies.</li>
        <li>Obtienes vision en oscuridad 60 pies.</li>
        <li>Tienes ventaja en las tiradas de salvación contra Encantamiento, y no puedes ser dormido mediante la
          magia.</li>
        <li>Ganas competencia en dos habilidades a tu elección.</li>
        <li>Puedes hablar, leer y escribir Común, Élfico y otro idioma de tu elección.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="./assets/semiorco.webp" alt="semiorco" class="raza">
      <h3>Semiorco</h3>
      <p>Ya sean unidos bajo el liderazgo de un poderoso brujo o luchando para resistir tras años de conflicto, las
        tribus humanas y orcas a veces forman alianzas, uniendo sus fuerzas en una horda mayor para el terror de las
        tierras civilizadas cercanas. Cuando esas alianzas se sellan con matrimonios, nacen los semiorcos. Algunos
        semiorcos crecen para convertirse en jefes orgullosos de tribus orcas, con su sangre humana proveyéndoles de
        ventaja sobre sus rivales orcos purasangres. Algunos se aventuran en el mundo para probar su valía ante los
        humanos y otras razas más civilizadas. Muchos de estos se convierten en aventureros, cosechando grandeza por
        sus grandes hazañas y notoriedad por sus costumbres bárbaras y su furia salvaje.</p>
      <ul>
        <li>. Tu puntuación de Fuerza se incrementa en 2 y tu puntuación de Constitución se incrementa en 1.</li>
        <li>Tu velocidad base a pie es 30 pies.</li>
        <li>Obtienes vision en oscuridad 60 pies.</li>
        <li>Ganas competencia en la habilidad Intimidar.</li>
        <li>Cuando te ves reducido a 0 Puntos de Golpe pero no estás totalmente muerto, puedes volver a tener 1
          punto de golpe en su lugar. No puedes volver usar este rasgo hasta que no hayas completado un descanso
          prolongado.</li>
        <li>Cuando saques un impacto crítico con un ataque con arma cuerpo a cuerpo, puedes tirar otra vez uno de
          los dados de daño del arma y añadirlo al daño extra por el impacto crítico.</li>
        <li>Puedes hablar, leer y escribir Común y Orco. El Orco es un idioma estridente y áspero con fuertes
          consonantes. No tiene alfabeto propio pero se escribe con el alfabeto enano.</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="tabla">CLASE</th>
            <th scope="col" class="tabla">Descripcion</th>
            <th scope="col" class="tabla">Dado de golpe</th>
            <th scope="col" class="tabla">Caract. primaria</th>
            <th scope="col" class="tabla">Tiradas de salvacion</th>
            <th scope="col" class="tabla">Competencia armas y armadura</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="tabla">Barbaro</th>
            <td>Un feroz guerrero de trasfondo primitivo que puede entrar en una furia de batalla.</td>
            <td>d 12</td>
            <td>Fuerza</td>
            <td>Fuerza y constitucion</td>
            <td>Armadura ligera y mediana, escudos, armas simples y marciales.</td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Bardo</th>
            <td>Un mago inspirador cuyo poder replica la música de la creación</td>
            <td>d 8</td>
            <td>Carisma</td>
            <td>Destreza y carisma</td>
            <td>Armadura ligera, armas simples, ballestas de mano, espadas largas, estoques, espadas cortas.
            </td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Brujo</th>
            <td>Un practicante de la magia que deriva de un contrato con una entidad extraplanaria.</td>
            <td>d8</td>
            <td>Carisma</td>
            <td>Sabiduria y carisma</td>
            <td>Armadura ligera, armas simples</td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Clerigo</th>
            <td>Un campeón sacerdotal que esgrime magia divina al servicio de un poder mayor.</td>
            <td>d 8</td>
            <td>Sabiduria</td>
            <td>Sabiduria y carisma</td>
            <td>Armadura ligera y mediana, escudos, armas simples. </td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Druida</th>
            <td>Un sacerdote de la Antigua Fe, que blande los poderes de la naturaleza —la luz de la luna y el
              crecimiento de las plantas, el fuego y el rayo— y que adopta formas animales</td>
            <td>d 8 </td>
            <td>Sabiduria</td>
            <td>Inteligencia y sabiduria</td>
            <td>Armadura ligera y mediana (no de metal), escudos (no de metal), clavas, dagas, dardos, jabalinas,
              mazas, bastones, cimitarras, hoces, hondas, lanzas</td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Explorador</th>
            <td>Un guerrero que usa la proeza marcial y la magia de la naturaleza para combatir las amenazas en los
              límites de la civilización</td>
            <td>d 10</td>
            <td>Destreza y sabiduria</td>
            <td>Fuerza y destreza</td>
            <td>Armadura ligera y mediana, escudos, armas simples y marciales</td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Guerrero</th>
            <td>Un maestro del combate marcial, competente con una gran variedad de armas y armaduras.</td>
            <td>d 10</td>
            <td>Fuerza o destreza</td>
            <td>Fuerza y constitucion</td>
            <td>Todas las armaduras, escudos, armas simples y marciales.</td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Hechicero</th>
            <td>Un lanzador de conjuros que recurre a la magia inherente de un don o una línea de sangre.</td>
            <td>d 6</td>
            <td>Carisma</td>
            <td>Constitucion y carisma</td>
            <td>Dagas, dardos, hondas, bastones, ballestas ligeras.</td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Mago</th>
            <td>Un usuario de magia educado capaz de manipular la estructura de la realidad.</td>
            <td>d 6</td>
            <td>Inteligencia</td>
            <td>Inteligencia y sabiduria</td>
            <td>Dagas, dardos, hondas, bastones, ballestas ligeras.</td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Monje</th>
            <td>Un maestro de las artes marciales, que domina el poder del cuerpo en busca de la perfección física y
              espiritual.</td>
            <td>d 8</td>
            <td>Destreza y sabiduria</td>
            <td>Fuerza y destreza</td>
            <td>Armas simples, espadas cortas
            </td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Paladin</th>
            <td>Un guerrero santo atado a un juramento sagrado.</td>
            <td>d 10</td>
            <td>Fuerza y carisma</td>
            <td>Sabiduria y carisma</td>
            <td>Todas las armaduras, escudos, armas simples y marciales</td>
          </tr>
          <tr>
            <th scope="row" class="tabla">Picaro</th>
            <td>Un rufián que usa sigilo y astucia para superar obstáculos y enemigos.</td>
            <td>d 8</td>
            <td>Destreza</td>
            <td>Destreza e inteligencia</td>
            <td>Armadura ligera, armas simples, ballestas de mano, espadas largas, estoques y espadas cortas. </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col descripForm">
        <h3>Resumen de Puntos de Característica</h3>
        <ul>
          <li>
            <h4>Fuerza</h4>
            Mide: capacidad atlética natural, potencial físico. Importante para: bárbaro, guerrero, paladín.
            Incrementos Raciales: Enano de las Montañas (+2), Dracónido (+2), Semiorco (+2), Humano (+1)
          </li>
          <li>
            <h4>Destreza</h4>
            Mide: agilidad física, reflejos, equilibrio, compostura. Importante para: monje, explorador, pícaro.
            Incrementos Raciales: Elfo (+2), Mediano (+2), Gnomo del Bosque (+1), Humano (+1)
          </li>
          <li>
            <h4>Constitucion</h4>
            Mide: salud, resistencia, fuerza vital. Importante para: Todos. Incrementos Raciales: Enano (+2), Mediano
            Fornido (+1), Gnomo de las Rocas (+1), Semiorco (+1), Humano (+1)
          </li>
          <li>
            <h4>Inteligencia</h4>
            Mide: agilidad mental, memoria, capacidad analítica. Importante para: mago. Incrementos Raciales: Alto
            elfo (+1), Gnomo (+2), Tiflin (+1), Humano (+1)
          </li>
          <li>
            <h4>Sabiduria</h4>
            Mide: consciencia, intuición, perspicacia. Importante para: clérigo, druida. Incrementos Raciales: Enano
            de las Colinas (+1), Elfo del bosque (+1), Humano (+1)
          </li>
          <li>
            <h4>Carisma</h4>
            Mide: confianza, elocuencia, liderazgo. Importante para: bardo, hechicero, brujo. Incremento Racial:
            Semielfo (+2), Drow (+1), Mediano Piesligeros (+1), Dracónido (+1), Humano (+1), Tiflin (+2)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center">

    <div id="formPersonaje" class="row">
      <p class="descripForm">Aca puede seleccionar Raza, Clase y Puntos de Caracteristicas de su personaje. Recuerde q
        cada caracteristica puede tener un valor entre 8 y 18 y la suma de todas no puede superar 78. Ejemplo Fuerza
        18, Destreza 16, Constitucion 14, Sabiduria 12, Inteligencia 10, Carisma 8.</p>
      <label for="raza">Raza</label>
      <select id="raza" name="raza">
        <option value="enano">Enano</option>
        <option value="elfo">Elfo</option>
        <option value="mediano">Mediano</option>
        <option value="humano">Humano</option>
        <option value="gnomo">Gnomo</option>
        <option value="semielfo">Semielfo</option>
        <option value="semiorco">Semiorco</option>
      </select>
      <label for="claseJuego">Clase</label>
      <select id="claseJuego" name="claseJuego">
        <option value="barbaro">Bárbaro</option>
        <option value="bardo">Bardo</option>
        <option value="brujo">Brujo</option>
        <option value="clerigo">Clerigo</option>
        <option value="druida">Druida</option>
        <option value="explorador">Explorador</option>
        <option value="guerrero">Guerrero</option>
        <option value="hechicero">Hechicero</option>
        <option value="mago">Mago</option>
        <option value="monje">Monje</option>
        <option value="paladin">Paladin</option>
        <option value="picaro">Picaro</option>
      </select>
      <div>
        <label>Puntos disponibles: </label>
        <span id="puntosDisponibles">78</span>
      </div>
      <label for="fuerza">Fuerza</label>
      <input type="number" id="fuerza" placeholder="Fuerza" />
      <label for="destreza">Destreza</label>
      <input type="number" id="destreza" placeholder="Destreza" />
      <label for="constitucion">Constitucion</label>
      <input type="number" id="constitucion" placeholder="Constitución" />
      <label for="inteligencia">Inteligencia</label>
      <input type="number" id="inteligencia" placeholder="Inteligencia" />
      <label for="sabiduria">Sabiduria</label>
      <input type="number" id="sabiduria" placeholder="Sabiduría" />
      <label for="carisma">Carisma</label>
      <input type="number" id="carisma" placeholder="Carisma" />
      <button id="crearPersonajeBtn">Crear Personaje</button>
    </div>
  </div>
</div>